PersonalOrg/force-app/main/default/flows/Restrict_Customer_Deletion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <customErrors>
        <description>There is Open Opportunity related to this customer. Please close opportunity first .</description>
        <name>Validation_Failure</name>
        <label>Validation Failure</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <customErrorMessages>
            <errorMessage>There is Open Opportunity related to this customer. Please close opportunity first .</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Open_Opportunities</name>
        <label>Check Open Opportunities</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Assign_Archival_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Closed</defaultConnectorLabel>
        <rules>
            <name>Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Open_Opportunities__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation_Failure</targetReference>
            </connector>
            <label>Open</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>archivedOn</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Restrict Customer Deletion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Restrict Customer Deletion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Assign_Archival_Date</name>
        <label>Assign Archival Date</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Archived_On__c</field>
            <value>
                <elementReference>archivedOn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsArchived__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Open_Opportunities</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
